@model RoleplayersGuild.Site.Model.SiteFooterViewModel

<footer class="bg-dark text-white mt-auto py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 text-center text-lg-start">
                <h5>RoleplayersGuild.com</h5>
                <small>&copy; 2024 - @Model.CurrentYear All Rights Reserved.</small>
            </div>

            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <h5 class="text-center">Information</h5>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled text-center text-md-start">
                            <li><a asp-page="/Information/About/Index" class="text-white-50">About Us</a></li>
                            <li><a asp-page="/Information/Contact/Index" class="text-white-50">Contact Us</a></li>
                            <li><a asp-page="/Information/Rules/Index" class="text-white-50">Site Rules</a></li>
                            <li><a asp-page="/Information/Legal/Terms-Of-Use/Terms-Of-Use" class="text-white-50">Terms of Service</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled text-center text-md-start">
                            <li><a asp-page="/Information/FAQ/Index" class="text-white-50">FAQ</a></li>
                            <li><a asp-page="/Information/Badges/Index" class="text-white-50">Badges</a></li>
                            <li><a asp-page="/Information/Testimonials/Index" class="text-white-50">Testimonials</a></li>
                            <li><a asp-page="/Information/Functionality-Voting/Index" class="text-white-50">Feature Voting</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 text-center text-lg-end">
                <h5>Follow Us</h5>
                <a href="https://x.com/RPers_Guild" target="_blank" class="text-white-50 me-3 fs-4" aria-label="Follow us on X"><i class="bi bi-twitter-x"></i></a>
                <a href="https://www.reddit.com/r/RolePlayersGuild/" target="_blank" class="text-white-50 me-3 fs-4" aria-label="Join our Subreddit"><i class="bi bi-reddit"></i></a>
                <a href="https://discord.gg/bWXBvCUBew" target="_blank" class="text-white-50 fs-4" aria-label="Join our Discord server"><i class="bi bi-discord"></i></a>
            </div>
        </div>
    </div>
</footer>