@page
@model RoleplayersGuild.Site.Directory.Admin_Panel.Resources.IndexModel
@{
    ViewData["Title"] = "Admin Resources";
}

<p><a asp-page="../Index">&laquo;&nbsp;Back to Admin Console</a></p>

<h1>Admin Resources</h1>
<div class="alert alert-info">
    This page is currently under construction.
</div>