@page "{id:int?}"
@model RoleplayersGuild.Site.Directory.User_Panel.My_Characters.EditMyCharactersModel
@inject RoleplayersGuild.Site.Services.IViteManifestService ViteAssets
@{
    ViewData["Title"] = Model.IsNewCharacter ? "New Character" : "Edit Character";
    Layout = "_Layout1Col";
}

<h1>@ViewData["Title"]</h1>
<a class="btn btn-secondary mb-3" asp-page="./Index">Back to My Characters</a>

<div id="react-root" style="min-height: 900px;">
    <div id="character-editor-root"
         data-character-id="@Model.Input.CharacterId"
         data-initial-avatar-url="@Model.InitialAvatarUrl"
         data-initial-card-url="@Model.InitialCardUrl">
        @* This placeholder will be replaced by the React component *@
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <span class="nav-link placeholder col-2"></span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link placeholder col-2"></span>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link placeholder col-2"></span>
                    </li>
                </ul>
            </div>
            <div class="card-body d-flex justify-content-center align-items-center" style="min-height: 650px;">
                <div class="rpg-loader">
                    <div class="cell d-0"></div>
                    <div class="cell d-1"></div>
                    <div class="cell d-2"></div>
                    <div class="cell d-1"></div>
                    <div class="cell d-2"></div>
                    <div class="cell d-3"></div>
                    <div class="cell d-2"></div>
                    <div class="cell d-3"></div>
                    <div class="cell d-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section head {
    @await ViteAssets.RenderViteStyles()
}

@section Scripts {
    @await ViteAssets.RenderViteScripts()
}
