@page
@model RoleplayersGuild.Site.Directory.Account_Panel.Password.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "_Layout1Col";
}

@if (!string.IsNullOrEmpty(Model.Message))
{
    <div class="alert alert-@Model.MessageType">@Model.Message</div>
}
<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

<form method="post">
    <fieldset>
        <legend>Change Password</legend>
        <div class="mb-3">
            <label asp-for="Input.CurrentPassword" class="form-label"></label>
            <input asp-for="Input.CurrentPassword" class="form-control" type="password" required autofocus />
        </div>
        <div class="mb-3">
            <label asp-for="Input.NewPassword" class="form-label"></label>
            <input asp-for="Input.NewPassword" class="form-control" type="password" required />
        </div>
        <div class="mb-3">
            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
            <input asp-for="Input.ConfirmPassword" class="form-control" type="password" required />
        </div>
        <div class="d-flex justify-content-end gap-2">
            <a href="/Account-Panel/Settings" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-primary">Save My Password</button>
        </div>
    </fieldset>
</form>