@page
@model RoleplayersGuild.Site.Directory.Account_Panel.Email.UnsubscribeModel
@{
    ViewData["Title"] = "Unsubscribe";
    Layout = "~/Site.Directory/Shared/_Layout1Col.cshtml";
}

<div class="card shadow-sm">
    <div class="card-header">
        <h1 class="mb-0 h4">Unsubscribe from Notifications</h1>
    </div>
    <div class="card-body text-center">
        <p class="lead my-4">@Model.Message</p>
        <a asp-page="/Index" class="btn btn-primary">Return to Homepage</a>
    </div>
</div>