@page
@model RoleplayersGuild.Site.Directory.Account_Panel.Membership.CancelModel
{
    ViewData["Title"] = "RPG: Membership Canceled";
    Layout = "_Layout1Col";
}

@section head {
    <meta name="description" content="Show your support for RPG while also gaining access to exclusive features by purchasing a paid RPG membership." />
}

<h1>Role-Players Guild Membership</h1>

<div class="alert alert-danger">Your transaction was canceled. If you experienced a problem, please <a href="/Report">let us know</a> what kind of issue you ran into.</div>