@page
@model RoleplayersGuild.Site.Directory.Account_Panel.Membership.SuccessModel
{
    ViewData["Title"] = "RPG: Membership Success";
    Layout = "_Layout1Col";
}

@section head {
    <meta name="description" content="Show your support for RPG while also gaining access to exclusive features by purchasing a paid RPG membership." />
}

<h1>Role-Players Guild Membership</h1>

<div class="alert alert-success">You have completed your paid membership subscription! Please be aware that your bank statement will show the transaction as PAYPAL * VILL ENT. This is because of the RPG parent company, Villanite Enterprises. Shortly, you will be receiving one email notifying you of the approved transaction and another notifying you that your new membership benefits have been activated. These emails should be going to the email address you signed up to RPG with. If any issues occur with your payments, that same email will also receive notifications.</div>