@model (int Online, int Total, int Characters)

<div class="card text-center">
    <div class="card-body">
        <div class="row">
            <div class="col-4">
                <h4 class="mb-0">@Model.Online</h4>
                <small class="text-muted text-uppercase">Online</small>
            </div>
            <div class="col-4">
                <h4 class="mb-0">@Model.Total</h4>
                <small class="text-muted text-uppercase">Members</small>
            </div>
            <div class="col-4">
                <h4 class="mb-0">@Model.Characters</h4>
                <small class="text-muted text-uppercase">Characters</small>
            </div>
        </div>
    </div>
</div>