@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        @RenderBody()
    </div>
</div>

@* --- FIX 3: ADD THIS BLOCK TO PASS STYLES TO THE HEAD --- *@
@section head {
    @await RenderSectionAsync("head", required: false)
    @await RenderSectionAsync("Styles", required: false)
}

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}