@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-12">
        @RenderBody()
    </div>
</div>

@* --- FIX 3: ADD THIS BLOCK TO PASS STYLES TO THE HEAD --- *@
@section Head {
    @await RenderSectionAsync("Head", required: false)
}

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}