@* File: Site.Directory/Shared/_Layout2Col.cshtml *@
@{
    Layout = "_Layout";
    var leftColClass = ViewData["UseProfileSidebar"] as bool? == true ? "profile-sidebar" : "col-md-4 col-lg-3";
}

<div class="row">
    <div class="@leftColClass">
        @RenderSection("cphLeftCol", required: false)
    </div>
    <div class="col">
        @RenderSection("cphRightCol", required: true)
    </div>
</div>

@* FIXED: This block passes the 'Scripts' section from the content page up to the main layout. *@
@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}

@* FIXED: This block passes the 'head' section from the content page up to the main layout. *@
@section head {
    @await RenderSectionAsync("head", required: false)
}