@model RoleplayersGuild.Site.Model.UserNavViewModel

<div id="userNavFlyout" class="user-nav-flyout" style="visibility: hidden;">
    <div class="user-nav-controls">
        <div class="user-nav-header">
            <a asp-page="/Dashboard/Index" class="user-nav-dashboard-link" title="Dashboard">
                <i class="bi bi-house-door-fill"></i>
            </a>
            <div id="userNavDragHandle" class="user-nav-drag-handle" title="Drag to Reposition">
                <i class="bi bi-grip-vertical"></i>
            </div>
            <a href="#" id="userNavToggle" class="user-nav-toggle" title="Toggle User Menu">
                <i id="userNavIcon" class="bi bi-chevron-right"></i>
            </a>
        </div>
    </div>
    <div class="user-nav-body">
        @await Html.PartialAsync("_UserNav", Model)
    </div>
</div>