@model RoleplayersGuild.Site.Services.Models.PasswordRecoveryEmailModel
@{
    Layout = "_EmailLayout.cshtml";
    // Using a dynamic header class from the layout
    ViewData["HeaderClass"] = "";
}
<div class="header @ViewData["HeaderClass"]">
    There was a request to reset your password on RPG!
</div>
<div class="content">
    <p>In order to reset your password on RPG, please click the link below. If you cannot click it, copy and paste it into your browser window.</p>
    <p><a href="@Model.RecoveryUrl">@Model.RecoveryUrl</a></p>
    <hr />
    <p style="font-size: 0.9em; color: #555;">
        If you would like to no longer receive these notifications, <a href="@Model.UnsubscribeUrl">click here</a>.
    </p>
</div>