@page
@model RoleplayersGuild.Site.Directory.Admin_Panel.Site_Privacy_Policy.IndexModel
@{
    ViewData["Title"] = "Manage Privacy Policy";
    Layout = "_Layout2Col";
}

@section Scripts {
    <script>
        function deactivateButton(theBtn) {
            setTimeout(function () {
                theBtn.setAttribute("disabled", "disabled");
                theBtn.classList.add("disabled");
                theBtn.value = "Please Wait...";
            }, 50);
            return true;
        };
    </script>
}

<p><a asp-page="../Index">&laquo;&nbsp;Back to Admin Console</a></p>

@if (!string.IsNullOrEmpty(Model.Message))
{
    var alertClass = Model.IsSuccess ? "alert-success" : "alert-danger";
    <div class="alert @alertClass" role="alert">
        @Html.Raw(Model.Message)
    </div>
}

<form method="post" onsubmit="return deactivateButton(this.querySelector('input[type=submit]'))">
    <div class="mb-3">
        <label asp-for="PageContent" class="form-label">Page Content (HTML)</label>
        <textarea asp-for="PageContent" class="form-control" rows="20"></textarea>
        <span asp-validation-for="PageContent" class="text-danger"></span>
    </div>

    <div class="text-end">
        <input type="submit" value="Save Content" class="btn btn-primary" />
    </div>
</form>